<a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>

<app-employee-form #appEmp [employeeFormDate] = "myDate" (employeeFormSuccess)="getEmployeeList($event)"></app-employee-form>
<app-employee-form #appEmp [employeeFormDate] = "myDate" (employeeFormSuccess)="getEmployeeList($event)"></app-employee-form>
<app-employee-form #appEmp [employeeFormDate] = "myDate" (employeeFormSuccess)="getEmployeeList($event)"></app-employee-form>
<app-employee-form #appEmp [employeeFormDate] = "myDate" (employeeFormSuccess)="getEmployeeList($event)"></app-employee-form>
<button (click)="clearForm()">Clear active form data</button>


<div id="createEmployeeContainer">
  <button type="button" class="btn btn-primary" (click)="createEmployee()">
    {{'Create Employee' | uppercase}}
  </button>
</div>

<div id="employeeList">
  <div *ngIf="errorFlag; else templateName">
    {{ employeeError }}
  </div>
  <ng-template #templateName>
    <table aria-describedby="arun" class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Age</th>
          <th scope="col">Salary</th>
          <th scope="col">Image</th>
          <th scope="col">Edit</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let employee of employeeList">
          <tr>
            <th scope="row"><a [routerLink]="['/employee', employee.id]" routerLinkActive="router-link-active">{{ employee.id }}</a></th>
            <td>{{ employee.employee_name }}</td>
            <td>{{ employee.employee_age }}</td>
            <td>{{ employee.employee_salary }}</td>
            <td>{{ employee.profile_image }}</td>
            <td><i class="fa fa-edit" (click)="editEmployee(employee)"></i></td>
            <td><i class="fa fa-remove"></i></td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </ng-template>
</div>
